#set ( $hash = $escape.getHash() )

<div id="carousel" class="carousel slide" data-pause="hover" data-interval="10000">
	<ol class="carousel-indicators">
		<li data-target="${hash}carousel" data-slide-to="0" class="active"></li>
		<li data-target="${hash}carousel" data-slide-to="1"></li>
		<li data-target="${hash}carousel" data-slide-to="2"></li>
		<li data-target="${hash}carousel" data-slide-to="3"></li>
		<li data-target="${hash}carousel" data-slide-to="4"></li>
		<li data-target="${hash}carousel" data-slide-to="5"></li>
	</ol>
	<div class="carousel-inner">




		<div class="item active">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - Deserialization</b>
				<p>Without Unexceptional, 7 lines and 8 branches:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*
					
*##snippet ( "/src/example/java/io/earcam/unexceptional/example/BoilerplateSerialCodecExample.java", "deserialize" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 2 lines and 0 branches:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/test/java/io/earcam/unexceptional/SerialCodec.java", "deserialize" )#*

					*#]]></pre>
				</div>
			</div>
		</div>




		<div class="item">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - File list</b>
				<p>Without Unexceptional, 4 lines:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "filelist_vanilla" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 1 line:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "filelist_unexceptional" )#*

					*#]]></pre>
				</div>
			</div>
		</div>




		<div class="item">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - new URI from String</b>
				<p>Without Unexceptional, 4 lines:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "uri_vanilla" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 1 line:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "uri_unexceptional" )#*

					*#]]></pre>
				</div>
			</div>
		</div>




		<div class="item">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - Free Port Finder</b>
				<p>Without Unexceptional, 4 lines and 8 branches:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/FreePortFinderExample.java", "vanilla" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 1 line and 0 branches:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/FreePortFinderExample.java", "with" )#*

					*#]]></pre>
				</div>
			</div>
		</div>




		<div class="item">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - Serialization</b>
				<p>Without Unexceptional, 6 lines and 8 branches:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*
					
*##snippet ( "/src/example/java/io/earcam/unexceptional/example/BoilerplateSerialCodecExample.java", "serialize" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 3 lines and 0 branches:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/test/java/io/earcam/unexceptional/SerialCodec.java", "serialize" )#*

					*#]]></pre>
				</div>
			</div>
		</div>




		<div class="item">
			<div style="height:500px;background:#8E8B81;color:#FFFFFF;padding:15px">
				<b>Example - File read all bytes</b>
				<p>Without Unexceptional, 4 lines:</p>
				<div title="Before">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "bytes_vanilla" )#*

					*#]]></pre>
				</div>
				<p>With Unexceptional, 1 line:</p>
				<div title="After">
					<pre class="source java" style="font-size: smaller"><![CDATA[#*

*##snippet ( "/src/example/java/io/earcam/unexceptional/example/ExceptionalExample.java", "bytes_unexceptional" )#*

					*#]]></pre>
				</div>
			</div>
		</div>
		
		
	</div>
	<a class="left carousel-control" href="${hash}carousel" data-slide="prev" title="Previous">&lsaquo;</a>
	<a class="right carousel-control" href="${hash}carousel" data-slide="next" title="Next">&rsaquo;</a>
</div>


<script><!--
//doxia bug? Something is stripping the data- attributes in markdown to html conversion
var indicators = document.getElementsByClassName('carousel-indicators')[0].children;
for(var i = 0; i < indicators.length; i++) { 
	indicators[i].setAttribute('data-target', '${hash}carousel');
	indicators[i].setAttribute('data-slide-to', i);
}
document.getElementsByClassName('carousel-control left')[0].setAttribute('data-slide', 'prev');
document.getElementsByClassName('carousel-control right')[0].setAttribute('data-slide', 'next');

//-->
</script>
