

/*
Fix for solarized light bg colour
*/

div.source pre {
	background-color: #fdf6e3;
}

/*
Bug fix for drop-down menu on mobile devices - see https://github.com/andriusvelykis/reflow-maven-skin/issues/41#issuecomment-141996185
*/
.dropdown-backdrop {
    position: static;
}



.color-highlight {
	color: #225E9B;
}

.thumbnail-row {
	margin-top: 10px;
}

/*h1, */h2 {
  margin-top: 30px;
}

h3, h4, h5, h6 {
  margin-top: 20px;
}

.carousel-example-slide table td {
  height: 500px;
}

.carousel-example-slide pre {
  font-size: 9px;
}
